{% extends 'base/main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}

{% block title %}
Admin Panel
{% endblock %}


{% block content %}

<h3>Admin Panel</h3>

<form action="#" method="POST">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="submit" class="btn btn-warning" value="Set SysID Relationship Fields" name="set_all_sysID_rel_fields">
                </td>
                <td>
                    <p>Set the relationship fields (rel_obj_model, rel_obj_id, rel_obj_name) for all models with a one-to-one relationship with SysID</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{form.tsm_group}}
                    <input type="submit" class="btn btn-warning" value="Cascade Group Roles" name="cascade_group_roles">
                </td>
                <td>
                    <p>Gets the roles for the selected group and adds those roles to all descendants in heirarchy.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-warning" value="Set Resolved tickets to Closed" name="set_resolved_to_closed">
                </td>
                <td>
                    <p>Set the status of tickets in "resolved" status with a "resolved date" older than 3 days to "closed" status.  Tickets in "closed" status are read only through the app.</p>
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}