<!--

    Modals

    This file contains all of the modals for the itsm project

    Contents

        Modals
            Add Attachment Modal
            Remove Attachment Modal
        JS
            function removeAttachment 
                Handle replace href in the Remove Modal continue button
        Reference
            Boostrap4: https://getbootstrap.com/docs/4.1/components/modal/


-->

<!-- 
    Add Attachment Modal 
-->
<div class="modal fade" id="AddAttachmentModalCenter" tabindex="-1" role="dialog" aria-labelledby="AddAttachmentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddAttachmentModalCenterLongTitle">Add Attachment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                        
                    {{attachment_form.document}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="add_attachment" value="add_attachment">Save</button>
                </div>
            
            </div>
        </form>
    </div>
</div>

<!-- 
    Remove Attachment Modal 
-->
<div class="modal fade" id="RemoveAttachmentModalCenter" tabindex="-1" role="dialog" aria-labelledby="RemoveAttachmentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RemoveAttachmentModalCenterLongTitle">Remove Attachment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                        
                    <div class="custom-file">
                        <div class="form-field">
                            <h6 id="remove-attachment-filename">Attachment Name</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="remove-attachment-continue" class="btn btn-danger" name="remove_attachment" value="remove_attachment" href="#">Continue</a>
                </div>
            
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    //Get attachment id, attachment name, and ticket number, view url, and ticket sysID
    //Set remove attachment model body to show filename
    //Set the 'Continue' button link parameters with args
    function removeAttachment(attachmentID, attachmentName, number, url, sysID) {
        document.getElementById('remove-attachment-filename').innerText = attachmentName
        document.getElementById('remove-attachment-continue').href = '/remove-attachment/'+attachmentID+'/'+number+'/'+url+'/'+sysID
    }
</script>