{% for item in sidebar_items %}

    {% if item|length > 0 %}
        {% include 'base/sidebar-item.html' with sidebar_items=item %}
            </ul>
        </li>
    {% else %}
        {% if item.has_children %}
            <li>
                <a id="{{item.name|cut:' '}}DropDown" href="#{{item.name|cut:' '}}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{item.name}}</a>
                <ul class="collapse list-unstyled sidebar-collapse" id="{{item.name|cut:' '}}Submenu">
        {% else %}
            {% if '?' in item.url %}
                {% if 'group' in item.url %}
                <li>
                    <a href="{{item.url}}{% for group in request.user.customer.group_memberof %}{{group.id}}{% if not forloop.last %}&assignment_group={% endif %}{% endfor %}">{{item.name}}</a>
                </li>          
                {% else %}
                    <li>
                        <a href="{{item.url}}{{request.user.customer.id}}">{{item.name}}</a>
                    </li>
                {% endif %}
            {% else %}
                <li>
                    <a href="{{item.url}}">{{item.name}}</a>
                </li>
            {% endif %}
        {% endif %}   

    {% endif %}

{% endfor %}


