<nav id="sidebar">
    <div class="sidebar-header">
        <!-- Search Input -->
        <div class="form-group position-relative has-search my-1">
            <span class="fa fa-search form-control-feedback"></span>
            <input id="searchSidebarInput" type="search" class="form-control form-control-sidebar search-filter" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon1">
        </div>
    </div>
    <!-- Links -->
    <ul id="searchSidebarUL" class="list-unstyled components sidebar-nav">
        
        {% include 'base/sidebar-item.html' %}
        
    </ul>

</nav>
