body {
    background-color: #638CB8 !important;
}

pre {

  white-space: pre-wrap;
  word-break: keep-all;
}

.note-format {
  white-space: pre-wrap;
  word-break: keep-all;
}

.inline {
    display: flex;
    align-items: center;
}

.justify-right {
    display: flex;
    align-items: flex-end;
}

label {
    padding: 10px;
}

.second-nav {
    top: 56px !important; 
}

.front {
    z-index: 2000 !important;
}

.back {
    z-index: -1 !important; 
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.box-element {
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.box-customer-visible {
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-style: solid;
  border-width: thin;
  border-color: steelblue;
  color: steelblue;
	border-radius: 4px;
	padding: 10px;
}

.container {
  border-radius: 4px;
  padding: 0px;
}

.table-row {
  padding: 10px;
}

.note-header{
	display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;

}

.note-row{
	display: flex;
  align-items: flex-stretch;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ececec;

}

.table-borderless td,
.table-borderless th {
    border: 0;
}

