{% extends 'base\main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% block content %}
        <div class="container bg-light mb-3 shadow">
        {% csrf_token %}
            <div class="card-header">
                <h3>Incident Search</h3>
            </div>
            <div class="card-body">
                <div class="box-element">
                    <form method="GET">
                        <div class="row">                    
                            <div class="col-lg-12">
                                
                                {{filter.form}}
                                    
                                
                            </div>
                        </div>
                        <div class="row">                    
                            <div class="col-lg-12">
                                <button class="btn btn-primary" name="search" value="search" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="box-element">
                    <div class="row">                    
                        <div class="col-lg-12">
                            <table class="table table-sm table-hover w-auto">
                                <tr>
                                    <th>Number</th>
                                    <th>Status</th>
                                </tr>
                                {% for inc in page_obj %}
                                    <tr>
                                        <td><a href="/ticket/incident-detail/{{inc.number}}">{{inc.number}}</a></td>
                                        <td>{{inc.status}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <br>
                    <!-- Show search count -->
                    <p>{{page_obj.start_index}} - {{page_obj.end_index}} of {{page_obj.paginator.count}}</p>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <!-- Show First and Previous links if not on first page -->
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
                            </li>
                        {% endif %}
                            

                        {% for i in page_obj.paginator.page_range %}
                            <!-- Show active page -->
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item">
                                    <!-- Show current page and +-3 pages -->
                                    {% if i|add:"-3" <= page_obj.number and page_obj.number <= i|add:"3" %}
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>

                                    <!-- Shows every 10th page and the last page -->
                                    {% elif i|divisibleby:"10" or i == page_obj.paginator.num_pages %}
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                            <!-- Show Next and Last links if not on last page -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>