{% extends 'base\main_header.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident</title>
</head>
<body>
    {% block content %}
        <h3>Incident</h3>
        <div class="container">
            <form id="inc-form">
                <div class="box-element">
                    <div class="row">                    
                        <div class="col-lg-6">
                            <label for="number"><strong>Number:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="number">
                            </div>
                            <label for="customer"><strong>Customer:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="customer">
                            </div>
                            <label for="phone"><strong>Phone:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="phone">
                            </div>
                            <label for="phone"><strong>Phone:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="phone">
                            </div>
                            <label for="delegates"><strong>Delegates:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="delegates">
                            </div>
                            <label for="location"><strong>Location:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="location">
                            </div>
                            <label for="created"><strong>Created:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="created">
                            </div>
                            <label for="updated"><strong>Updated:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="updated">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="status"><strong>Status:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="status">
                            </div>
                            <label for="priority"><strong>Priority:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="priority">
                            </div>
                            <label for="assign-group"><strong>Assignment Group:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="assign-group">
                            </div>
                            <label for="assignee"><strong>Assignee:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="assignee">
                            </div>
                            <label for="app-system-ci"><strong>App / System CI:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="app-system-ci">
                            </div>
                            <label for="device-ci"><strong>Device CI:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="device-ci">
                            </div>
                            <label for="category"><strong>Category:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="category">
                            </div>
                            <label for="category-sub1"><strong>Subcategory:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="category-sub1">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-element">
                            <label for="desc-short"><strong>Short Description:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="desc-short">
                            </div>
                            <label for="desc-long"><strong>Detailed Description:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="desc-long">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-element">
                            <label for="resolved"><strong>Resolved:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="resolved">
                            </div>
                            <label for="resolution"><strong>Resolution:</strong></label>
                            <div class="form-field">
                                <input required class="form-control" type="text" name="resolution">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <h3>Work Notes</h3>

        <h3>Form</h3>
        {% crispy form %}

    {% endblock %}
</body>
</html>