{% extends 'base\main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% block content %}
        <div class="container bg-light mb-3 shadow">
        {% csrf_token %}
            <div class="card-header">
                <h3>Incident Search</h3>
            </div>
            <div class="card-body">
                <div class="box-element">
                    <form method="GET">
                        <div class="row">                    
                            <div class="col-lg-4">
                                <label for="{{filter.form.number.id_for_label}}"><strong>{{filter.form.number.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.number|add_class:'form-control'}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="{{filter.form.status.id_for_label}}"><strong>{{filter.form.status.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.status|add_class:'form-control'}}
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <label for="{{filter.form.priority.id_for_label}}"><strong>{{filter.form.priority.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.priority|add_class:'form-control'}}
                                </div>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-lg-7">
                                <label for="{{filter.form.customer.id_for_label}}"><strong>{{filter.form.customer.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.customer|add_class:'form-control'}}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label for="{{filter.form.phone.id_for_label}}"><strong>{{filter.form.phone.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.phone|add_class:'form-control'}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label for="{{filter.form.location.id_for_label}}"><strong>{{filter.form.location.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.location|add_class:'form-control'}}
                                </div>
                            </div>
                        </div>
                        <div class="row">                    
                            <div class="col-lg-4">
                                <label for="{{filter.form.assignment_group.id_for_label}}"><strong>{{filter.form.assignment_group.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.assignment_group|add_class:'form-control'}}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="{{filter.form.assignee.id_for_label}}"><strong>{{filter.form.assignee.label}}:</strong></label>
                                <div class="form-field">
                                    {{filter.form.assignee|add_class:'form-control'}}
                                </div>
                            </div> 
                        </div>
                        <div class="row">                    
                            <div class="col-lg-12">
                                <button class="btn btn-primary" name="search" value="search" type="submit"><strong>Search</strong></button>
                                <a class="btn btn-info" href="{% url 'incident-search' %}"><strong>Clear</strong></a>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="box-element">
                    <div class="row">                    
                        <div class="col-lg-12">
                            <table class="table table-sm table-hover w-auto border-bottom">
                                <tr>
                                    <th>Number</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Created</th>
                                    <th>Resolved</th>
                                    <th>Customer</th>
                                    <th>Assignment Group</th>
                                    <th>Assignee</th>
                                    <th>Desc Short</th>
                                </tr>
                                {% for inc in page_obj %}
                                    <tr>
                                        <td><a href="/ticket/incident-detail/{{inc.number}}">{{inc.number}}</a></td>
                                        <td>{{inc.status}}</td>
                                        <td>{{inc.priority}}</td>
                                        <td>{{inc.created}}</td>
                                        <td>{{inc.resolved}}</td>
                                        <td>{{inc.customer}}</td>
                                        <td>{{inc.assignment_group}}</td>
                                        <td>{{inc.assignee}}</td>
                                        <td>{{inc.desc_short}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <br>
                    <!-- Show search count -->
                    <p>{{page_obj.start_index}} - {{page_obj.end_index}} of {{page_obj.paginator.count}}</p>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <!-- Show First and Previous links if not on first page -->
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
                            </li>
                        {% endif %}
                            

                        {% for i in page_obj.paginator.page_range %}
                            <!-- Show active page -->
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item">
                                    <!-- Show current page and +-3 pages -->
                                    {% if i|add:"-3" <= page_obj.number and page_obj.number <= i|add:"3" %}
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>

                                    <!-- Shows every 10th page and the last page -->
                                    {% elif i|divisibleby:"10" or i == page_obj.paginator.num_pages %}
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                            <!-- Show Next and Last links if not on last page -->
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>