{% extends 'base/main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}

{% block title %}
Group Tree
{% endblock %}

{% block content %}

<style>
    .group-tree-ul {
        list-style-type: none;
        
      }
    
    .group-tree-ul-nested {
        list-style-type: none;
        margin-left: 5rem;
    }

    button {
        width: 15rem;
    }

</style>

<div class="container-fluid px-0 mx-0">
    <div class="card mb-3 border-0">
        <div class="card-header">
            <h4>Group Tree</h4>
        </div>
        <div class="card-body">
            <button class="btn btn-info mt-1 mb-5" type="button" data-toggle="collapse" data-target=".grouptree"><strong>Toggle All</strong></button>
            
            <ul class="group-tree-ul">

                {% include 'access/group-tree-item.html' with group_tree=group_tree %}

            </ul>


        
        </div>
    </div>
</div>


{% endblock %}
