{% extends 'base\main_header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DACME Group Tree</title>



</head>
<body>
    
    {% block content %}
        <style>
            ul>li>ul {
                display: none;
            }
        </style>
        <br>
        <h3>Group Tree</h3>
        <ul>
        {{group_tree|unordered_list}}
        </ul>

        <script type="text/javascript">
            //Collaspible unordered list
            //https://stackoverflow.com/a/31508501
            $('li').click(function(e){
                e.stopPropagation();
                if(this.getElementsByTagName("ul")[0].style.display =="block")
                    $(this).find("ul").slideUp();
                else
                    $(this).children(":first").slideDown();
            });
        </script>
    {% endblock %}
</body>
</html>