{% extends 'base/main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}

{% block title %}
Update Group - {{group.name}}
{% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="container-fluid px-0 mx-0">
        <div class="card mb-3 border-0">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-start">
                            <h4>Update Group</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!--Show any errors from a previous form submission-->
                {% include 'base/form-errors.html' with form=form %}
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <!-- Display form fields -->
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="{{form.name.id_for_label}}"><strong>{{form.name.label}}:</strong></label>
                                {{form.name|add_class:'form-control'}}
                            </div>
                            <div class="col-lg-6">
                                <label for="{{form.path.id_for_label}}"><strong>{{form.path.label}}:</strong></label>
                                {{form.path|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="{{form.manager.id_for_label}}"><strong>{{form.manager.label}}:</strong></label>
                                {{form.manager|add_class:'form-control form-control-chosen'}}
                            </div>
                            <div class="col-lg-3 mt-2"> 
                                <label for="{{form.created.id_for_label}}"><strong>{{form.created.label}}:</strong></label>
                                {{form.created|add_class:'form-control'}}
                            </div>
                            <div class="col-lg-3 mt-2">
                                <label for="{{form.updated.id_for_label}}"><strong>{{form.updated.label}}:</strong></label>
                                {{form.updated|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label for="{{form.active.id_for_label}}"><strong>{{form.active.label}}:</strong></label>
                                {{form.active|add_class:'form-control'}}
                            </div>
                            <div class="col-lg-3">
                                <label for="{{form.is_assignment.id_for_label}}"><strong>{{form.is_assignment.label}}:</strong></label>
                                {{form.is_assignment|add_class:'form-control'}}
                            </div>
                            <div class="col-lg-3">
                                <label for="{{form.is_approval.id_for_label}}"><strong>{{form.is_approval.label}}:</strong></label>
                                {{form.is_approval|add_class:'form-control'}}
                            </div>
                            <div class="col-lg-3">
                                <label for="{{form.is_heirarchal.id_for_label}}"><strong>{{form.is_heirarchal.label}}:</strong></label>
                                {{form.is_heirarchal|add_class:'form-control'}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="{{form.members.id_for_label}}"><strong>{{form.members.label}}:</strong></label>
                                {{form.members|add_class:'form-control form-control-chosen'}}
                            </div>
                            <div class="col-lg-6">
                                <label for="{{form.roles.id_for_label}}"><strong>{{form.roles.label}}:</strong></label>
                                {{form.roles|add_class:'form-control form-control-chosen'}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-2">
                                <a class="btn btn-primary btn-block" href="{% url 'group-detail' group.id %}"><i class="fas fa-chevron-left"></i><strong class="ml-2">Return</strong></a>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-info btn-block" name="update" value="update" type="submit"><strong>Update</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}