<!-- Collapse with table of tickets -->
<div id="accordion-{{state}}{{type}}">
    <div class="card">
        <div class="card-header" id="heading{{state}}{{type}}">
            <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapse{{state}}{{type}}" aria-expanded="true" aria-controls="collapse{{state}}{{type}}">
                    <h6>{{state|title}} {{type|title}}s</h6>
                </button>
            </h5>
        </div>
        {% if tickets %}
            <div id="collapse{{state}}{{type}}" class="collapse show" aria-labelledby="heading{{state}}{{type}}" data-parent="#accordion-{{state}}{{type}}">
        {% else %}
            <div id="collapse{{state}}{{type}}" class="collapse" aria-labelledby="heading{{state}}{{type}}" data-parent="#accordion-{{state}}{{type}}">
        {% endif %}
        <div class="card-body">
                <div class="table-responsive table-sm table-hover w-auto border-bottom small">
                    <table class="table ">
                        <thead>
                            <th>Number</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Created</th>
                            <th>Resolved</th>
                            <th>Reopened</th>
                            <th>Assignment Group</th>
                            <th>Assignee</th>
                            <th width="25%">Desc Short</th>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                                <tr>
                                    <td><a href="/ticket/{{type}}-detail/{{ticket.number}}">{{ticket.number}}</a></td>
                                    <td>{{ticket.status}}</td>
                                    <td>{{ticket.priority}}</td>
                                    <td>{{ticket.created}}</td>
                                    <td>{{ticket.resolved}}</td>
                                    <td>{{ticket.reopened}}</td>
                                    <td>{{ticket.assignment_group}}</td>
                                    <td>{{ticket.assignee.full_name}}</td>
                                    <td>{{ticket.desc_short}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
        </div>
      </div>
    </div>
</div>