{% extends 'base\main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}


{% block content %}
<div class="container-fluid px-0 mx-0">
    <div class="card mb-3 border-0">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}"><h6>Homepage</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage-assignedtome' %}"><h6>Assigned to Me</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage-assignedtomygroups' %}"><h6>Assigned to My Groups</h6></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <!-- Ticket counts -->
            <div class="row">
                <!-- New tickets (opened in last 3 days) -->
                <div class="col-lg-4">
                    <div class="card mb-3 shadow-sm">
                        <div class="card-header">
                            <h4>New Tickets</h4>
                        </div>
                        <div class="card-body">
                            <!-- New Inc Count -->
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="card-title">Incidents</h6>
                                </div>
                                <div class="col">
                                    <h5 class="card-title">{{new_inc.count}}</h5>
                                </div>
                            </div>
                            <!-- New Req Count -->
                            <div class="row">
                                <div class="col-9">
                                    <h6 class="card-title">Requests</h6>
                                </div>
                                <div class="col">
                                    <h5 class="card-title">{{new_req.count}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Open tickets (in status not 'resovled' or 'closed') -->
                <div class="col-lg-4">
                    <div class="card mb-3 shadow-sm">
                    <div class="card-header">
                        <h4>Open Tickets</h4>
                    </div>
                    <div class="card-body">
                        <!-- Open Inc Count -->
                        <div class="row">
                            <div class="col-9">
                                <h6 class="card-title">Incidents</h6>
                            </div>
                            <div class="col">
                                <h5 class="card-title">{{open_inc.count}}</h5>
                            </div>
                        </div>
                        <!-- Open Req Count -->
                        <div class="row">
                            <div class="col-9">
                                <h6 class="card-title">Requests</h6>
                            </div>
                            <div class="col">
                                <h5 class="card-title">{{open_req.count}}</h5>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Resolved (resolved in last 3 days) -->
                <div class="col-lg-4">
                    <div class="card mb-3 shadow-sm">
                    <div class="card-header">
                        <h4>Resolved Tickets</h4>
                    </div>
                    <div class="card-body">
                        <!-- Resolved Inc Count -->
                        <div class="row">
                            <div class="col-9">
                                <h6 class="card-title">Incidents</h6>
                            </div>
                            <div class="col">
                                <h5 class="card-title">{{resolved_inc.count}}</h5>
                            </div>
                        </div>
                        <!-- Resolved Req Count -->
                        <div class="row">
                            <div class="col-9">
                                <h6 class="card-title">Requests</h6>
                            </div>
                            <div class="col">
                                <h5 class="card-title">{{resolved_req.count}}</h5>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Group ticket counts -->
            <div id="accordion-{{k1|cut:' '}}">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header" id="heading{{k1|cut:' '}}">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#collapse{{k1|cut:' '}}" aria-expanded="true" aria-controls="collapse{{k1|cut:' '}}">
                                <h5>Tickets by My Groups</h5>
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{k1|cut:' '}}" class="collapse show" aria-labelledby="heading{{k1|cut:' '}}" data-parent="#accordion-{{k1|cut:' '}}">
                        <div class="card-body">
                                
                            <table class="table table-sm small"
                            data-toggle="table"
                            data-sort-class="table-active"
                            data-sortable="true"
                            >
                                <thead class="bg-light">
                                    <tr>
                                        <th rowspan="2" data-field="assignment_group" data-sortable="true">Group</th>
                                        <th colspan="3" data-halign="center">Incidents</th>
                                        <th colspan="3" data-halign="center">Requests</th>
                                    </tr>
                                    <tr>
                                        <th data-field="inc-new" data-sortable="true" data-halign="center" data-align="center">New</th>
                                        <th data-field="inc-open" data-sortable="true" data-halign="center" data-align="center">Open</th>
                                        <th data-field="inc-res" data-sortable="true" data-halign="center" data-align="center">Resolved</th>
                                        <th data-field="pw-new" data-sortable="true" data-halign="center" data-align="center">New</th>
                                        <th data-field="pw-open" data-sortable="true" data-halign="center" data-align="center">Open</th>
                                        <th data-field="pw-res" data-sortable="true" data-halign="center" data-align="center">Resolved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k1, v1 in group_dict.items|dictsort:"0.lower" %}
                                        <tr class="a-black">
                                            <td>{{k1}}</td>
                                            <td><a href="/ticket/{{v1.Incident.new_url}}">{{v1.Incident.new}}</a></td>
                                            <td><a href="/ticket/{{v1.Incident.open_url}}">{{v1.Incident.open}}</a></td>
                                            <td><a href="/ticket/{{v1.Incident.resolved_url}}">{{v1.Incident.resolved}}</a></td>
                                            <td><a href="/ticket/{{v1.Request.new_url}}">{{v1.Request.new}}</a></td>
                                            <td><a href="/ticket/{{v1.Request.open_url}}">{{v1.Request.open}}</a></td>
                                            <td><a href="/ticket/{{v1.Request.resolved_url}}">{{v1.Request.resolved}}</a></td>                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- Group Assignee ticket counts -->
            {% for k1, v1 in group_assignee_dict.items %}
                <div id="accordion-{{k1|cut:' '}}">
                    <div class="card mb-3 shadow-sm">
                        <div class="card-header" id="heading{{k1|cut:' '}}">
                            <h5 class="mb-0">
                                <button class="btn" data-toggle="collapse" data-target="#collapse{{k1|cut:' '}}" aria-expanded="true" aria-controls="collapse{{k1|cut:' '}}">
                                    <h5>{{k1}}</h5>
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{k1|cut:' '}}" class="collapse show" aria-labelledby="heading{{k1|cut:' '}}" data-parent="#accordion-{{k1|cut:' '}}">
                            <div class="card-body">
                                    
                                <table class="table table-sm small"
                                data-toggle="table"
                                data-sort-class="table-active"
                                data-sortable="true"
                                >
                                    <thead class="bg-light">
                                        <tr>
                                            <th rowspan="2" data-field="assignee" data-sortable="true" data-halign="center">Assignee</th>
                                            <th colspan="3" data-halign="center">Incidents</th>
                                            <th colspan="3" data-halign="center">Requests</th>
                                        </tr>
                                        <tr>
                                            <th data-field="inc-new" data-sortable="true" data-halign="center" data-align="center">New</th>
                                            <th data-field="inc-open" data-sortable="true" data-halign="center" data-align="center">Open</th>
                                            <th data-field="inc-res" data-sortable="true" data-halign="center" data-align="center">Resolved</th>
                                            <th data-field="pw-new" data-sortable="true" data-halign="center" data-align="center">New</th>
                                            <th data-field="pw-open" data-sortable="true" data-halign="center" data-align="center">Open</th>
                                            <th data-field="pw-res" data-sortable="true" data-halign="center" data-align="center">Resolved</th>
                                        </tr>
                                    </thead>
                                    <tbody class="a-black">
                                        {% for k2, v2 in v1.items|dictsort:"0.lower" %}
                                            <tr>
                                                <td>{{k2}}</td>
                                                <td><a href="/ticket/{{v2.Incident.new_url}}">{{v2.Incident.new}}</a></td>
                                                <td><a href="/ticket/{{v2.Incident.open_url}}">{{v2.Incident.open}}</a></td>
                                                <td><a href="/ticket/{{v2.Incident.resolved_url}}">{{v2.Incident.resolved}}</a></td>
                                                <td><a href="/ticket/{{v2.Request.new_url}}">{{v2.Request.new}}</a></td>
                                                <td><a href="/ticket/{{v2.Request.open_url}}">{{v2.Request.open}}</a></td>
                                                <td><a href="/ticket/{{v2.Request.resolved_url}}">{{v2.Request.resolved}}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            {% endfor %} 
        </div>
    </div>
{% endblock %}