{% extends 'base\main_header.html' %}
{% load static %}
{% load tracking_tags %}
{% load widget_tweaks %}

{% block title %}
My Profile
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card bg-light mb-3 shadow-sm">
        <div class="card-header">
            <h5>My Profile</h5>
        </div>
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <!--Show any errors from a previous form submission-->
                {% include 'base/form-errors.html' with form=form %}
                <!-- Display form fields -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header ">
                                <div class="text-center"><h3>{{request.user.username}}</h3></div>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid rounded mb-3" src="{{request.user.customer.profile_image.url}}?modified={{profile_image_modtimestamp}}">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">{{form.profile_image.label}}</span>
                                    </div>
                                    <div class="custom-file">
                                        {{form.profile_image|add_class:'custom-file-input'}}
                                        <label class="custom-file-label" for="{{form.profile_image.id_for_label}}">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        
                            <div class="card">
 
                                <div class="card-body">
  
                                    <div class="col">
                                        <label for="{{form.first_name.id_for_label}}"><strong>{{form.first_name.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.first_name|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.last_name.id_for_label}}"><strong>{{form.last_name.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.last_name|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.email.id_for_label}}"><strong>{{form.email.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.email|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.phone.id_for_label}}"><strong>{{form.phone.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.phone|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.location.id_for_label}}"><strong>{{form.location.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.location|add_class:'form-control form-control-chosen'}}
                                        </div>
                                    </div>


                                    <div class="col">
                                        <label for="{{form.organization.id_for_label}}"><strong>{{form.organization.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.organization|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.department.id_for_label}}"><strong>{{form.department.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.department|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.title.id_for_label}}"><strong>{{form.title.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.title|add_class:'form-control'}}
                                        </div>
                                        <label for="{{form.manager.id_for_label}}"><strong>{{form.manager.label}}:</strong></label>
                                        <div class="form-field">
                                            {{form.manager|add_class:'form-control form-control-chosen'}}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button class="btn btn-info btn-lg btn-block mb-3" name="update" value="update" type="submit"><strong>Update</strong></button>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('.custom-file input').change(function (e) {
        if (e.target.files.length) {
            $(this).next('.custom-file-label').html(e.target.files[0].name);
        }
    });

</script>


{% endblock %}